# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###
# Cbox specific
###
dist/fonts/
dist/include/
dist/jq_ui/
dist/lib/
dist/PHPMailer-master/
dist/fullcalendar/
dist/js/docs/
dist/js/i18n/
dist/js/angular*
dist/js/bootstrap*
dist/js/d3*
dist/js/jquery*
dist/css/ui*
assets/
Braintree/
Connections/
contact/
garrett_tasks/
holderJS/
html-contact-form-code/
images/
live-username-availability-checking-using-ajax/
MailDir/
phantom/
